checkout-buy button {
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em;
  border: none;
  color: white;
  border-radius: 0.25em;
  background: rgb(75, 158, 204);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

checkout-buy button:hover {
  background: rgb(75, 158, 204, 0.8);
}

checkout-buy button:active {
  background: gray;
  transform: scale(0.98);
}

.custom__button {
	background-color:#e0e0e0;
	border:1px solid #ebebeb;
	display:inline-block;
	cursor:pointer;
	color:#1a1a1a;
	font-family:Arial;
	font-size:30px;
	padding:8px 20px;
	text-decoration:none;
	text-align: center;
	width: 100%;
}
.custom__button:hover {
	background-color:#f0f0f0;
}
.custom__button:active {
	position:relative;
	top:1px;
}

/* NEW */
checkout-minicart {
  display: block;
  text-align: center;
}

checkout-minicart img {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}